.myrequest-progress{
    color: var(--text-primary);
    margin-bottom: 0;
    padding-bottom: 0;
}

h2{
    color: var(--text-primary);
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0.7rem 0 0.2rem 0;
}

h3{
    font-size: 1.8rem;
    font-weight: 500;
}

.myrequest-progress-content{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin: 7.7rem 2.7rem 0rem 2.7rem;
    padding-top: 2.1rem;
    gap: 1rem;
    padding-bottom: 13rem;
}

.progress-detail{
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--text-primary);
    gap: 0.8rem;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.progress-detail p{
    margin: 0;
}

.pending-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
    margin: 1.3rem 0;
}

.pending-btn .fix-btn{
    display: flex;
    padding: 5.5rem 0;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2rem;
    background: #FFA874;
    border: 3px solid #FFA874;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 2.3rem;
    font-weight: 600;
    width: 50%;
    color: var(--text-primary);
}

.pending-btn button:hover{
    cursor: pointer;
}

.pending-btn .cancel-btn{
    display: flex;
    padding: 5.5rem 0;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 2.3rem;
    font-weight: 600;
    width: 50%;
    border-radius: 2rem;
    border: 3px solid #F5C6AA;
    background: #FFF;
    color: var(--text-primary);
}


.myrequest-article{
    display: inline-flex;
    padding: 1.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 1rem;
    width: 89.88%;
    border: 1px solid var(--brand-primary);
    background: var(--brand-quaternary);
}

.myrequest-article:hover{
    cursor: pointer;
    background: #f9ece6;
    transition: 0.2s ease-in-out;
}

.myrequest-article h3{
    font-size: 1.82rem;
    font-weight: 600;
    margin: 0;
}

.myrequest-article ul {
    display: flex;
    list-style: none;
    gap: 0.7rem;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
}

.myrequest-article p{
    margin: 0;
    font-size: 1.82rem;
    line-height: 3rem;
    font-weight: 400;
}

/* //////////////////////////////////////// */
/* 수락 완료 */
.junior-profile{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    height: 14rem;
    align-items: center;
    border-radius: 2rem;
    background: #FFF;
    box-shadow: -1px -2px 4px 0 rgba(0, 0, 0, 0.10), 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    gap: 2rem;
}

.junior-img{
    width: 9rem;
    height: 9rem;
    border-radius: 70%;
    object-fit: cover;
    overflow: hidden;
    border: solid 0.2rem #D9D9D9;
}

.junior-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.junior-info h2{
    margin: 0;
}

.junior-info h3{
    margin: 0;
}

.start-help-btn{
    height: 14rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #FFA874;
    box-shadow: -1px -2px 4px 0 rgba(0, 0, 0, 0.10), 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.start-help-btn h2{
    margin: 0;
    color: #000;
}

.start-help-btn h3{
    margin: 0;
    color: #000;
}

.start-help-btn:hover{
    cursor: pointer;
    background: #ff9152;
    transition: 0.2s ease-in-out;
}

/* //////////////////////////////// */
/* 도움 완료 리뷰 */

/* //////////////////////////////// */
/* 도움 완료 리뷰 */

.myrequest-progress.review{
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    max-width: 39rem;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10rem;
    margin-bottom: 0;
    padding-bottom: 0;
    gap: 1.1rem;
    color: var(--text-primary);
    width: 100%;
}

.myrequest-progress-content.review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.myrequest-progress-content.review h3{
    text-align: center;
    margin: 1.8rem 0 1rem 0;
}

.junior-review-box{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    height: 18rem;
    align-items: center;
    border-radius: 2rem;
    background: #FFF;
    box-shadow: -1px -2px 4px 0 rgba(0, 0, 0, 0.10), 4px 4px 4px 0 rgba(0, 0, 0, 0.15);
    gap: 1rem;
}

.junior-img{
    width: 10rem;
    height: 10rem;
    border-radius: 70%;
    object-fit: cover;
    overflow: hidden;
    border: solid 0.2rem #D9D9D9;
}

.review-box{
    height: 8rem;
    width: 70%;
    padding: 1.2rem 1.7rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid #939393;
    color: var(--text-primary);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.input.review-box{
    text-align: start;
}

.review-box::placeholder{
    color: var(--button-tertiary);
    font-size: 1.8rem;
    font-weight: 400;    
}

.myrequest-progress.review button{
    display: flex;
    width: 25rem;
    border: none;
    padding: 1.1rem 2rem 0.9rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

.send-review-btn{
    background: var(--button-primary);
}

.send-review-btn:hover{
    background: #ff7423;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.tohome-btn{
    background: var(--text-primary);
}

.tohome-btn:hover{
    background: #141414;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.star-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.star-box img{
    width: 3.2rem;
    height: 3rem;
}