.full-lecture{
    display: flex;
    flex-direction: column;
}
.lecture-elements{
    padding: 5.5rem 1.4rem 11rem 1.4rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    gap: 1.2rem;
    align-items: start;
}

.lecture-elements .filter-btn {
    background: white;
    border: solid 0.1rem var(--text-primary);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lecture-elements .filter-btn:hover{
    background: #f5c6aa34;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.lecture-elements .filter-btn img{
    width: 1.6rem;
    height: 1.6rem;
    padding: 0;
}

.lecture-elements .filter-btn p{
    color: var(--text-primary);
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0;
}


