
.rev-content {
  padding: 10rem 1.6rem 8.8rem;
  background: #fff;
}

.rev-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1.6rem;
}

.rev-h2 {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0;
}

.rev-avg-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #F88c3e;
  font-size: 1.7rem;
  font-weight: 700;
  margin-left: 10rem;
}

.rev-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* 별점 스타일 */
.star-rating {
  display: inline-flex;
}
.star {
  font-size: 1.6rem;
  line-height: 1;
}
.star-filled {
  color: #F88c3e; /* 노란색 별 */
}
.star-empty {
  color: #E0E0E0; /* 회색 별 */
}

/* 후기 카드 스타일 */
.rev-card {
  position:relative;
  background:#fff;
  border-radius:1.2rem;
  border:0.1rem solid #eee;
  box-shadow: 0 0.8rem 1.6rem rgba(0,0,0,.08), 0 0.2rem 0.6rem rgba(0,0,0,.05);
  padding:1.2rem 1.2rem 1.2rem;
}

.rev-title {
  margin: 0 0 0.8rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.4;
}


.rev-meta {
  margin:0 0 .8rem 0;
  padding-left:1.2rem;
  color:#333;
  font-size:1.5rem;
}

.rev-meta {
  margin: 0 0 1.2rem;
  padding: 0; 
  list-style: none;
  font-size: 1.5rem;
  color: #333;
}

/* flex으로 설정하면 점이 없어짐 그래서 가짜 점 만들기 */
.rev-meta li {
  display: flex;
  align-items: flex-start;
  margin-top: 0.6rem;
  gap: 0.8rem;
  position: relative; 
  padding-left: 1.4rem; 
}

.rev-meta li::before {
  content: "•"; /* 점 모양 문자 */
  position: absolute; 
  left: 0; 
  top: 0.05em; 
  font-weight: bold;
}

.rev-meta b {
  font-weight: 700;
  flex-shrink: 0;
  width: 4rem;
}

/* 자세히 보기 버튼 */
.rev-detail-btn {
  margin-left:auto;
  display:block;
  min-width: 13rem;
  border:0;
  background:#e6e6e6;
  color:#151515;
  padding:.6rem 1.0rem;
  border-radius:1.2rem;
  font-size:1.3rem;
  box-shadow:0 .2rem .6rem rgba(0,0,0,.05) inset;
  cursor:pointer;
}
