.header{
    height: 82px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 11px;
    border-bottom: solid 1px #000000;
    font-size: 22px;
    font-weight: 500;
}