/* @font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../../assets/fonts/PretendardVariable.woff2") format("woff2");

} */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(./woff2-subset/Pretendard-Black.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(./woff2-subset/Pretendard-ExtraBold.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-ExtraBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(./woff2-subset/Pretendard-Bold.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(./woff2-subset/Pretendard-SemiBold.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(./woff2-subset/Pretendard-Medium.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(./woff2-subset/Pretendard-Regular.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(./woff2-subset/Pretendard-Light.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-Light.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(./woff2-subset/Pretendard-ExtraLight.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-ExtraLight.subset.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(./woff2-subset/Pretendard-Thin.subset.woff2) format('woff2'), url(./woff-subset/Pretendard-Thin.subset.woff) format('woff');
}

html{
  font-size: 62.5%;
  font-family: 'Pretendard', sans-serif;
}

html{
  font-size: 62.5%;
}

body {
  margin:0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: rgb(188, 188, 188);
  -ms-overflow-style: none;
}

.home,
.mypage,
.login,
.lecture,
.list,
.request,
.sign-up,
.request,
.signup-form,
.finish-signup,
.myrequest-edit{
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-height: auto;
  max-width: 39rem;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #f7f7f7;
}

.cancel-modal{
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-height: auto;
  max-width: 39rem;
  height: calc(var(--vh, 1vh) * 100);
}

.lecture,
.full-lecture,
.lecture-detail,
.myrequest-progress,
.myrequest,
.myrequestdetail,
.myrequest.junior,
.myrequest-progress.review{
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-height: auto;
  height: auto;
  max-width: 39rem;
  background-color: rgb(255, 255, 255);
}

:root {
  --vh: 100%;
  font-family: 'Pretendard', sans-serif;
}
  
::-webkit-scrollbar {
   display: none;
 }

img, video {
  max-width: 100%;
  height: auto;
}

.myrequest-block{
  display: flex;
  padding: 1.6rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  border: 1px solid var(--brand-primary);
  background: var(--brand-quaternary);
  color: var(--text-primary);
  gap: 1rem;
}

.myrequest-block:hover{
  cursor: pointer;
  background: #f9ece6;
  transition: 0.2s ease-in-out;
}

/* 색상 팔레트 정해지면 세팅..? */
/* :root { */
  /* Text */
  /* --text-primary: #171719;
  --text-secondary: #37383c;
  --text-tertiary: #878a93;
  --text-quaternary: #c2c4c8;
  --text-brand: #0066ff;
  --text-brand-invert: #ffffff;
  --text-negative: #ff4242; */

  /* Background */
  /* --background-primary: #ffffff;

  /* Button */
  /* --button-primary:  #F5C6AA;
  --button-disable: #f4f4f5; */

  /* Line */
  /* --line-primary: #70737c38;
  --line-secondary: #70737c29;
  --line-brand: #0066ff; */

  /* Icon */
  /* --icon-primary: #171719;
  --icon-secondary: #37383c;
  --icon-tertiary: #878a93;
  --icon-quaternary: #c2c4c8;
  --icon-brand: #0066ff; */ 
/* } */

/* 색상 팔레트 */
:root {
  /* Text */
  --text-primary: #333333;
  --text-secondary: #fff;
  --text-tertiary: #717171;
  --text-quaternary:#C3C3C3;

  /* Brand Color */
  --brand-primary: #F5C6AA;
  --brand-secondary: #F88C3E;
  --brand-tertiary: #D9D9D9;
  --brand-quaternary:#FFF8F4;

  /* Button Color */
  --button-primary: #FF9C61;
  --button-secondary: #FFA874;
  --button-tertiary: #939393;
  --button-quaternary: #E6E6E6;
}
