
.myrequest-block{
    display: flex;
    padding: 1.3rem;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    border: 1px solid var(--brand-primary);
    background: var(--brand-quaternary);
    color: var(--text-primary);
    gap: 1rem;
}

.myrequest-block:hover{
    cursor: pointer;
    background: #f9ece6;
    transition: 0.2s ease-in-out;
}

.myrequest-title{
    font-size: 2rem;
    font-weight: 600;
}

.myrequest-detail {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    gap: 1.4rem;
}

.myrequest-detail p{
    margin: 0
}

