.myrequest-title{
    font-size: 2rem;
    font-weight: 600;
}

.myrequest-detail {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    gap: 1.4rem;
}

.myrequest-detail p{
    margin: 0
}

